:root {
    --tiles: #7ecc00;
    --light-bg: #e3e9e7;
    --dark-bg: #a5318c;
}

body, div, canvas, h1, h4, img, a, p, button {
    margin: 0;
    padding: 0;
}

h1, h4 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

p, button {
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--light-bg);
}

button {
    height: 3em;
    border-radius: 8px;
    border: 1px solid rgb(72, 72, 72);
    background-color: rgb(255, 238, 0);
    box-shadow: 2px 2px 2px rgb(72, 72, 72);
    color: black;
}

button:hover {
    background-color: rgb(255, 247, 137);
}

button:active {
    box-shadow: 0px 0px 2px rgb(72, 72, 72);
}

.wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.tiles div {
    box-shadow: 0px 0px 5px black;
    background-color: var(--tiles);
    -webkit-transition: background-color ease 0.4s;
    -moz-transition: background-color ease 0.4s;
    -ms-transition: background-color ease 0.4s;
    -o-transition: background-color ease 0.4s;
    transition: background-color ease 0.4s;
    border-radius: 5px;
}

.tiles div:hover {
    box-shadow: 0px 0px 20px black;
    background-color: white;
}

.tiles div:active {
    box-shadow: none;
    background-color: var(--tiles);
}

.tiles h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.tiles img {
    width: 100%;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#content a, #content a:visited {
    text-decoration: none;
    color: rgb(0, 78, 170);
    -webkit-transition: color ease 0.4s;
    -moz-transition: color ease 0.4s;
    -ms-transition: color ease 0.4s;
    -o-transition: color ease 0.4s;
    transition: color ease 0.4s;
}

#content a:hover {
    color: rgb(45, 255, 114);
}

#canvas {
    margin-right: 50px;
}

#canvas canvas {
    box-shadow: 0px 0px 5px black;
}

#games {
    width: 100%;
    text-align: center;
    background-color: var(--dark-bg);
}

#games p {
    color: white;
}

#games a, #games a:visited {
    text-decoration: none;
    color: rgb(118,213,255);
    -webkit-transition: color ease 0.4s;
    -moz-transition: color ease 0.4s;
    -ms-transition: color ease 0.4s;
    -o-transition: color ease 0.4s;
    transition: color ease 0.4s;
}

#games a:hover {
    color: rgb(45, 255, 114);
}

#settings {
    display: flex;
    grid-column: 1/3;
}

#buttons button {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 14px;
}

#buttons button.setting {
    background-color: rgb(230, 230, 230);
    color: rgb(230, 230, 230);
}